@page "/barnabas"

@inherits StBarnabasBase

<h3>St_Barnabas</h3>
<!--Table-->
<!--Img size: 300w, 250h-->
<div id="table" class="wrapper-control">
    <table class="table table-bordered">
        <thead>
        </thead>
        <tbody>
            <!--Reuseable panel from a template component-->
            <!--First three cells on the same row-->
            <!--Fourth cell, creates a 2/2 split on two rows-->
            <!--Fifth cell, adds one new cell on the top row-->
            <!--Sixth cell, adds one new cell on the bottom row-->
            <tr>
                <td><button type="submit"><span class="oi oi-plus"></span></button></td>
                <td><button type="submit"><span class="oi oi-plus"></span></button></td>
                <td><button type="submit"><span class="oi oi-plus"></span></button></td>
            </tr>
            <tr>
                <td><button type="submit"><span class="oi oi-plus"></span></button></td>
                <td><button type="submit"><span class="oi oi-plus"></span></button></td>
                <td><button type="submit"><span class="oi oi-plus"></span></button></td>
            </tr>
        </tbody>
    </table>
</div>

<style>
    .wrapper-control {
        height:100%;
        width:90%;
        text-align:center;
    }
</style>

@code {

}
